extends page

block body
	h1(style="text-align:center") An Error Occured!
	- if(data_inputed){
	h2(style="text-align:center") Your entry was not added to the database.
	- }


	p(style="text-align:center")=err
	- if(err.code == "ECONNREFUSED") {
	p(style="text-align:center") Is the database up and running? Double check that you've started MySQL.
	- }