extends page

block header
		li(class='active') Gemini Scouting System
block content
	h5 General
	ul(class='nav nav-tabs nav-stacked')
		li
			a(href='/schedule') Match Schedule
		//li
			a(href='/rankings') Rankings
	- if(config.editData){
	h5 Data Entry
	ul(class='nav nav-tabs nav-stacked')
		li
			a(href='/pit') Pit Scouting Entry
		li
			a(href='/image-entry') Image Scouting Entry
		li
			a(href='/auto-entry') Auto Scouting Entry
		li
			a(href='/cycle-entry') Cycle Scouting Entry
		li
			a(href='/video-entry') Video Scouting Entry
	-}
	h5 Strategy
	ul(class='nav nav-tabs nav-stacked')
		li
			a(href='/table') Summary Table
		li
			a(href='/team') Team Lookup
		li
			a(href='/match') Match Lookup
	h5 Data
	ul(class='nav nav-tabs nav-stacked')
		li
			a(href='/data') Download Data Archive
	-//if(req.ip == '127.0.0.1'){
	h5 Administration
	ul(class='nav nav-tabs nav-stacked')
		- if(config.editData){
		li
			a(href='/edit') Edit Data
		li
			a(href='/data-upload') Upload Data Archive
		li
			a(href='/new-event') Initialize New Event
		-}
		li
			a(href='/configure') Configure System
	-//}