extends page

block scripts
		script(src='/javascripts/match-lookup-table.js')

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li(class="active") Match Lookup

block content
	table(id="match-lookup", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Match Number
		tbody
			- for(var i = 0; i < maxMatchNumber; ++i) {
			tr
				td
					a(href="../match/"+(i+1))=(i+1)
			- }