extends layout

block content
  div(data-role='page')
    div(data-role='header', data-theme="c", data-position="fixed")
      h1 SiK: Scouting Instant Knowledge
    div(data-role='content')
      block body
    //div(data-role='footer', data-theme="c", data-position="fixed")
      h2 SiK: Scouting Instant Knowledge