extends page

block scripts
	script(src='/javascripts/averages-table.js')

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li(class="active") Summary Table

block content
	table(id="averages-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team
				- for(var i = 0; i < overview.length; i++){
				th=overview[i]['name']
				- }
		tbody
			- for(var i = 0; i < teams.length; ++i){
			tr
				td=teams[i]
				-for(var j = 0; j < overview.length; j++){
				td=summaryData[teams[i]][overview[j].field]
				-}
			-}