extends page

block scripts
		script(src='/javascripts/team-lookup-table.js')

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li(class="active") Team Lookup

block content
	table(id="team-lookup", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team Number
		tbody
			- for(var i = 0; i < teams.length; ++i) {
			tr
				td
					a(href="../team/"+teams[i])=teams[i]
			- }