body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, textarea {
	width: 100%;
	max-width: 100%;
}

.match-team-image {
	width: 100%;
}

.stats {
	margin-top: 10px;
}

#edit-schedule{
	float:right;
}

#username {
	float:right;
}

a, .ui-link {
	color: rgb(51,51,51);
}

#schedule-winner {
	background-color: #eee;
}

#robot-picture {
	max-width: 100%;
	width: 100%;
}

#robot-pictures-carousel {
	width: 50%;
}

#sidebar-nav {
	width: 13%;
	background-color: #fff;
	z-index: 20;
}

#red-alliance {
	width: 97%;
	/*width: 46%;*/
	float: center;
	background-color: #e6b3cc;
	border-radius: 12px;
	padding: 15px;
	margin-bottom: 20px;
}

#blue-alliance {
	width: 97%;
	/*width: 46%;*/
	float: center;
	background-color: #b3cce6;
	border-radius: 12px;
	padding: 15px;
}

#small-table {
	font: 10px;
}

h2 {
	padding-top: 5%;
	padding-bottom: 1%;
}

h3 {
	padding-top: 1%;
	padding-bottom: 1%;
}