body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, .ui-link {
	color: rgb(51,51,51);
}

#schedule-winner {
	background-color: #ddd;
}

#left-panel {
	width: 56%;
	float: left;
	padding: 2%;
}

#right-panel {
	width: 35%;
	float: right;
	padding: 2%;
}

#robot-picture {
	max-width: 100%;
}

#red-alliance {
	width: 97%;
	/*width: 46%;*/
	float: center;
	background-color: #e6b3cc;
	border-radius: 12px;
	padding: 15px;
	margin-bottom: 20px;
}

#blue-alliance {
	width: 97%;
	/*width: 46%;*/
	float: center;
	background-color: #b3cce6;
	border-radius: 12px;
	padding: 15px;
}

#small-table {
	font: 10px;
}

.ui-table-reflow.ui-responsive {
    display: table !important;
}